@font-face {
    font-family: Pavia;
    src: url(../fonts/Pavia.ttf);
  }

  @font-face {
    font-family: Anton;
    src: url(../fonts/Anton.ttf);
  }  

.main-wrapper {
    height: 100vh;
}

.section.active {
    height: 100%;
    width: 100%;
    background-image: url(../../media/semi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#icon {
    width: 3rem;
    height: 3rem;
}

h1, h2{
    vertical-align: middle;
    font-family: Pavia;
}

.inline {
    display: inline;
}

.transitionCss {
    opacity: 0;
    transition: transform 0.8s ease-in-out,
    opacity 0.8s ease-in-out;
}
.transitionCss.active {
    opacity: 1;
}

.hid-section {
    top: 100%;
    position: relative;
    transition: all .3s ease-out;
    height: 100%;
    width: 100%;
    background-image: url(../../media/semi2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hid-section.active {
    top: 0;
}

.section {
    top: -100%;
    position: relative;
    transition: all .3s ease-out;
}

  