@font-face {
    font-family: Pavia;
    src: url(../fonts/Pavia.ttf);
  }

  @font-face {
    font-family: Anton;
    src: url(../fonts/Anton.ttf);
  }  

body {
    background-color: white !important;
}

#icon {
    width: 3rem;
    height: 3rem;
}

h1, h2{
    vertical-align: middle;
    font-family: Pavia;
}

.inline {
    display: inline;
}

.transitionCss {
    opacity: 0;
    transition: transform 0.8s ease-in-out,
    opacity 0.8s ease-in-out;
}
.transitionCss.active {
    opacity: 1;
}



  